.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: auto;
  height: 100%;
  max-width: 375px;
  margin: auto;
}

.input,
.inputPassword,
.infoCardContainer {
  padding-left: 10px;
  margin: 16px;
  width: 88%;
  max-width: 343px;
  height: 56px;
  border-radius: 10px;
  border: 0px;
  background-color: #d9dbe9;
  color: #3c3c43;
  font-weight: 400;
  font-size: 16px;
}

.password-container {
  position: relative;
}

.hide-show-password {
  position: absolute;
  top: 35px;
  right: 40px;
  width: 20px;
  height: 20px;
}

.button {
  /* margin: 16px; */
  width: 100%;
  max-width: 343px;
  height: 51px;
  border-radius: 8px;
  border: 0px;
  background: linear-gradient(180deg, #ffde01 0%, #faa71a 100%);
  font-weight: 700;
  font-size: 16px;
}

.forgotPassword {
  width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  letter-spacing: -0.4px;
}

.infoCardContainer {
  display: flex;
  flex-direction: row;
  color: #333333;
  background: #ffffff;
  box-shadow: 0px 16px 38px rgba(109, 109, 109, 0.175);
  border-radius: 8px;
  border: 0px;
  height: 70px;
  margin-left: 28px;
}

.infoDescription {
  font-size: 12px;
  line-height: 14px;
  padding: 15px 10px;
  text-align: left;
}

.infoCardIcon {
  width: 14px;
  height: 14px;
  padding-top: 15px;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderContainer {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



 @media only screen and (max-width: 700px) {
  .button {
    width: 92%;
    margin: 10px;
    margin-left: 10px;
  }
  

  .input,
  .inputPassword{
    margin: 10px;
  }

}